@import 'tailwindcss';

@costum-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #0a0a0a;
  --color-card-background: #141414;
  --color-card-border: 27272a;
  --color-footer: #050505;
  --color-accent: #0a84ff;
  --color-text-main: #ffffff;
  --color-text-secondary: #d4d4d8;
  --color-text-tertiary: #a1a1aa;
  --color-text-tags: #71717a;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter Regular'),
    url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: auto;
}
